<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lab5</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="/posts">Posts</a> |
        <a href="/posts/new">New Post</a>
      </div>
    </nav>
  </header>

  <main class="container">
    {{{ body }}}
  </main>
</body>
</html>
